@import url('./fonts.css');
@import url('./reset.css');
@import url('./skip.css');

#wrap {
    width: 100%;
    overflow: hidden;
    #header {
        width: 100%;
        height: 140px;
        background: rgb(6,44,94);
        position: relative;
        padding: 30px 0 0 0;
        .row1 {
            width:100%;
            height: 36.391px;
            position: relative;
            .container {
                width:100%;
                max-width: 1280px;
                margin:0 auto;
                height: 100%;
                .gap {
                    height: 100%;
                    .content {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .left  {                           
                            ul {
                                display: flex;
                                li {
                                    margin: 0 15px 0 0;
                                    a {
                                        font-size: 14px;
                                        color: rgba(255,255,255, 0.5);
                                        &.on{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .center {
                           h1 {
                            a {
                                
                            }
                           }     
                        }
                        .right {
                            display: flex;
                            justify-content: flex-end;
                            height: 100%;
                            align-items: center;
                            ul {
                                display: flex;
                                li {
                                    margin:0 0 0 15px;
                                    a {
                                        font-size: 14px;
                                        color: rgb(68,68,68);
                                        img {
                                            width: auto;
                                            height: 15px;
                                        }
                                    }
                                }
                            }
                            span {
                                margin:0 0 0 20px;
                                a {

                                }
                            }
                        }
                    }
                }
            }
        }        
        .row2 {
            position: absolute;
            bottom: 0;
            left:0;
            width:100%;
            height: 60px;
            .container {
                width:100%;
                max-width: 1280px;
                margin:0 auto;
                height: 100%;
                .gap {
                    height: 100%;
                    .content {
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .left  {   
                            width: 170px;                                                    
                            display:none;
                            h1 {
                                width: 100%;
                                
                                a {
                                    width: 100%;
                                    display: inline-block;                                    
                                    img {
                                        width:100%;
                                    }
                                }
                            }
                        }
                        .center {
                            margin:0 auto;
                           nav {
                            ul {
                                display: flex;
                                li {
                                    margin: 0 15px;
                                    a {
                                        color: #fff;
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                }
                            }
                           }    
                        }
                        .right {
                            
                        }
                    }
                }
            }

        }        
    }
    

#main {
    z-index: 2;
    position: relative;
    width: 100%;
    #section1 {
        width: 100%;
        height: 1161px;
        .container {
            width: 100%; 
            position: relative;
            .slide-container {
                position: relative;
                z-index: 1;
                width: 100%;
                .slide-view {
                    z-index: 2;
                    position:relative;
                    width: 100%;
                 
                    .slide-wrap {
                        pointer-events: none;
                        width: 100% * 5;
                        display: flex;
                        position: relative;
                        margin: 0 0 0 -100%;
                       
                        
                       .slide {
                        width: 100vw;
                        height: 100vh;
                        background: url() no-repeat 50% 50%;
                        background-size: cover;

                        &.slide1 {background-image: url(../img/main_1920_01.jpg);}
                        &.slide2 {background-image: url(../img/main_1920_02.jpg);}
                        &.slide3 {background-image: url(../img/main_1920_03.jpg);}
                       } 
                       
                    }
                   
                }
            }
            .title {
                user-select: none;
                position : absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                display: flex;
                padding: 130px 0;
                justify-content: center;
                align-items: center;
                text-align: center;
                div {
                    width: 100%;
                    max-width: 800px;
                    transition: all 0.3s;
                    h2 {
                        display: inline-block;
                        color: rgb(255,255,255);
                        font-size: 18px;
                        padding : 0 0 50px 0;
                        &::before {
                            content:'';
                            position: absolute;
                            left: -60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px;
                            background: rgb(255,255,255);
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            right:-60px;
                            top: 50%;
                            margin: -0.5px 0 0 0;
                            width: 40px;
                            height: 1px; 
                            background: rgb(255,255,255);
                        }
                        
                    }
                    br {width: 100%;}
                    h1 {
                        font-size: 60px;
                        font-weight: 400;
                        color: rgb(255,255,255);
                        padding: 0 0 35px 0;
                    }
                    h3 {
                        font-size: 18px;
                        letter-spacing: -0.3;
                        line-height: 28.8px;
                        color: rgb(255,255,255);
                    }
                }
                
            }

            // 좌우 화살 버튼 
            .arrow-next-btn {
                z-index: 3;
                position:absolute;
                top: 50%;
                right: 6%;
                width: 30px; 
                height: 30px; 
                margin: -50px 0 0 0;
                i {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(45deg);
                }
            }

            // 좌우 화살 버튼 
            .arrow-prev-btn {
                z-index: 3;
                position: absolute;
                top: 50%;
                left: 6%; 
                width: 30px;
                height: 30px;
                margin: -50px 0 0 0;
                i {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-top: 0.5px solid #fff;
                    border-left: 0.5px solid #fff;
                    transform: rotate(-45deg);
                }
            }
            .page-btn-box {
                z-index: 2;
                position: absolute;
                bottom: 50px;
                left: 0;
                width: 100%;
                text-align: center;
                span {
                    margin: 0 10px; 
                    a {
                        display: inline-block;
                        width: 15px; 
                        height: 15px; 
                        border: 2px solid #ccc;
                        border-radius: 50%;
                        transition: all 0.3s;
                        &.on{
                            border: 2px solid #ccc;
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }

    @keyframes slide { 
        0.00% { left: -100% * 0 }
        6.67% { left: -100% * 0 }
       13.33% { left: -100% * 0 }
       20.00% { left: -100% * 0 }
       26.67% { left: -100% * 0 }
       33.33% { left: -100% * 1 }
       40.00% { left: -100% * 1 }
       46.67% { left: -100% * 1 }
       53.33% { left: -100% * 1 }
       60.00% { left: -100% * 1 }
       66.67% { left: -100% * 2 }
       73.33% { left: -100% * 2 }
       80.00% { left: -100% * 2 }
       86.67% { left: -100% * 2 }
       93.33% { left: -100% * 2 }
      100.00% { left: -100% * 3 } /* 리턴 */
  }
    #section2 {
       
        width: 100%;
        height: 644px;
        background: rgb(255,255,255);
        
        .container {
           position: relative;
           width: 100%;
           height: 100%;
           max-width: 1154.780px;
           margin: 0 auto;
            .gap {
                width: 100%;
                .title {
                    width: 100%; 
                    height: 100%;
                    padding: 0 20px 0 10px;
                    h1 {
                        display: flex;
                        font-size: 32px;
                        
                        font-weight: 400;
                        margin: 70px 0 30px 0;
                     
                    }
                }
                .content {
                    width: 100%; 
                    
                    
                    ul {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .col-gap {
                                width: auto;
                                padding: 0 5px;
                                justify-content: center;
                                .img-box {
                                    width: 276px;
                                    height: 276px;
                                    display: flex;
                                    position: relative;
                                   
                                    z-index: 1;
                                    transition: all;
                                   
                                    img{
                                      width: 276px;
                                      height: 276px;
                                      position: relative;
                                      z-index: 1;
                                      transition: all 0.3s;

                                    }
                                }
                                .txt-box {
                                    width: 100%;
                                    position: relative;
                                    display: flex;
                                    
                                   
                                   
                                    a {
                                        z-index: 3;
                                        position: relative;
                                        right: 0;
                                        bottom: 0;
                                        padding: 10px 20px;
                                        h2 {
                                            top: 0;
                                            font-size: 18px;
                                           br {
                                            width: 100%;
                                           }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .more {
                    position: relative;
                    a {

                    }
                }
            }
        }
    }
    #section3 {
        width:100%;
        height: 835px;
        padding: 0 130px;
        .container {
           position: relative;
           width: 100%;
           height: 100%; 
           margin: 0 auto;
            .gap {
                width: 100%;
                .title { 
                    width: 100%; 
                    text-align: center;
                    top: 0;
                    padding: 130px 0 100px 0;
                    h2 {
                        display: flex;
                        justify-content: center;
                        font-size:32px;
                    }
                }
                .content {
                    width: 100%;
                    height: 100%;
                    .slide-container {
                        width: 100%;
                        left:-5709px;
                        .slide-view {
                            width: 100%;
                            .slide-wrap {
                                    width: calc(100% / 4 * 5);
                                    display: flex;
                                    position: relative;
                                    text-align: center;
                                .slide {
                                    width: clac(100%/5);
                                    .col-gap {
                                        width: auto;
                                        margin: 0 5px;
                                        .top-box {
                                            width: 100%;
                                            position: relative;
                                            img {
                                                width: 284.875px;
                                                height: 284.875px;
                                                position: relative;
                                                z-index: 1;
                                                transition: all, 0.3s;
                                            }
                                            span {
                                                width: 100%;
                                                text-align: center;
                                                padding: 0 15px 90px 15px;
                                                em {
                                                    z-index:1;
                                                    font-size: 18px;
                                                    text-align: center;
                                                    position: relative;
                                                  
                                                }
                                            }
                                        }
                                    }
                                }   
                            }
                            .two-title {
                                
                                text-align: center;
                                line-height: 24px;
                                padding: 130px 0;
                                h2 {
                                    font-size: 28px;
                                    font-weight: 600;
                                    padding: 0 0 20px 0;
                                    h3 {
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
       
        
    }
    #section4 {
        width: 100%;
        height: 852.19px;
        background: rgb(255,255,255);
        margin: 0 auto;
        .container {
            width: 100%;
            .gap {
                width: 100%;
                .title {
                    width: 100%;
                    text-align: center;
                    padding: 0px 15px 90px 15px;
                    h2 {
                        display: inline-block;
                        font-size: 32px;
                        position: relative;
                        font-weight: 400;

                    }
                }
                .content {
                    width: 100%;
                    .slide-container {
                        width: 100%;
                        .slide-view {
                            width: 100%;
                            overflow: hidden;
                            .slide-wrap {
                                width: calc(100% / 5 * 6);
                                display: flex;
                                position:relative;
                                 
                                .slide {
                                    width: calc(100%/5);
                                    .col-gap {
                                        width: auto; 
                                        margin: 0 15px; 
                                        .top-box {
                                            width: 100%; 
                                            position: relative;
                                            overflow: hidden;
                                            img {
                                                width: 100%;
                                                position: relative;
                                                z-index: 1;
                                                transition: all, 0.3s;
                                            }
                                        }
                                        .bottom-box {
                                            width: 100%;
                                            position: relative;
                                            span {
                                              
                                                z-index: 3;
                                                display: block;
                                                right: 0;
                                                bottom: 0;
                                                text-align: center;
                                                padding: 50px 0;
                                                img {
                                                position: relative;
                                                text-align: center;
                                                
                                                z-index: 1;
                                                transition: all;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                          
                        }
                    }
                }
            }
          /*   .page-btn-box2 {
                z-index: 2;
                position: absolute; 
                bottom: 50px;
                left:0;
                width: 100%;
                text-align: center;
                span {
                    margin: 0 10px;
                    a {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 2px solid rgba(255,255,255, 0.5);
                        border-radius: 50%;
                        transition: all 0.3s;
                        &.on {
                            border: 2px solid rgba(255,255,255, 1);
                            transform: scale(1.5);
                        }
                    }
                }
            } */
        }
    }
    
}

#footer {
    width: 100%;
    height: 181.203px;
    background-color: aquamarine;
    margin:140px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
        }
}