#SignUp {
  width: 100%;
  padding: 130px 0;
}
#SignUp .container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
#SignUp .container .gap {
  width: 100%;
}
#SignUp .container .gap .title {
  padding: 0 0 30px 0;
}
#SignUp .container .gap .title h2 {
  font-size: 14px;
  font-weight: 600;
}
#SignUp .container .gap .content form .join {
  padding: 0 0 40px 0;
}
#SignUp .container .gap .content form .join .email_input, #SignUp .container .gap .content form .join .name_input, #SignUp .container .gap .content form .join .pw_input1, #SignUp .container .gap .content form .join .hp, #SignUp .container .gap .content form .join .hp_ok {
  width: 100%;
  border: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #000;
  outline: none;
}
#SignUp .container .gap .content form .join .email_input::-moz-placeholder, #SignUp .container .gap .content form .join .name_input::-moz-placeholder, #SignUp .container .gap .content form .join .pw_input1::-moz-placeholder, #SignUp .container .gap .content form .join .hp::-moz-placeholder, #SignUp .container .gap .content form .join .hp_ok::-moz-placeholder {
  color: #A0AFFF;
  font-weight: bold;
}
#SignUp .container .gap .content form .join .email_input::placeholder, #SignUp .container .gap .content form .join .name_input::placeholder, #SignUp .container .gap .content form .join .pw_input1::placeholder, #SignUp .container .gap .content form .join .hp::placeholder, #SignUp .container .gap .content form .join .hp_ok::placeholder {
  color: #A0AFFF;
  font-weight: bold;
}
#SignUp .container .gap .content form .join .label_name {
  display: flex;
  padding: 0 0 20px 0;
}
#SignUp .container .gap .content form .join .label_name.on {
  color: #ff7777;
}
#SignUp .container .gap .content form .join select {
  border: 1px solid #C8C8FF;
  border-radius: 3px;
  width: 30%;
  height: 29px;
  font-size: 12px;
  line-height: 18px;
}